<div>
  <div class="container">
    <app-add-task></app-add-task>
  </div>

  <div class="container">
    <div>
      <app-todo-task></app-todo-task>
    </div>

    <div>
      <app-done-task></app-done-task>
    </div>

  </div>
</div>
