<ng-container *ngIf="taskList.length>0 ; else noTask">
  <p [ngStyle]="{color: getColor()}">Tasks to do: {{taskList.length}}</p>
  <ul>
    <li appDate [date]="task.created" *ngFor="let task of taskList | sortName; let odd = odd" [ngClass]="{'odd-li' : odd==true, 'last-li' : taskList.length==1}">
      {{task.name | transformTask: '!'}}
      <button type="button" class="btn btn-danger btn-space" (click)="remove(task)">Remove</button>
      <button type="button" class="btn btn-success" (click)="done(task)">Done</button>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  Task list is empty.
</ng-template>
