<p>Completed tasks: {{doneList.length}}</p>
      <ul>
        <li appChecked appDate [date]="task.end" *ngFor='let task of doneList'>
          {{task.name | transformTask: ' - done!!!'}}
        </li>
      </ul>
